footer.footer
  .footer__wrap 
    a(href="#").footer__logo samplee
    .footer__link-wrap 
      a(href="#").footer__text SITEMAP
      a(href="#").footer__text PRIVACY POLICY
  .footer__copyright Copyright © samplee All Rights Reserved.