header.header.js-header
  nav.header__navbar.js-nav
    a.header__nav-logo(href='#') samplee
    ul.header__nav-menu.js-nav-menu
      li.header__nav-item
        a.header__nav-link(href='#') HOME
      li.header__nav-item
        a.header__nav-link(href='#') ABOUT US
      li.header__nav-item
        a.header__nav-link(href='#') SERVICE
      li.header__nav-item
        a.header__nav-link(href='#') BLOG
      li.header__nav-item.contact
        a.header__nav-link(href='#') CONTACT
    .header__hamburger.js-mobile-header
      span.header__bar
      span.header__bar
      span.header__bar
