html {
  font-family: $noto;
  color: $text;
  font-size: 10px;
  font-feature-settings: 'palt';
  @media screen and (max-width: 980px) {
    min-width: 980px;
  }
  @include sp {
    min-width: 100%;
  }

  a {
    transition: 0.3s ease-in;

    &:hover {
      opacity: 0.5;
    }
  }
}
