//import-fonts
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

//color
$primary: #222;
$secondary: #498dc5;

$text: #303030;
$black: #000;
$white: #fff;
$gray: #ccc;
$light-gray: #f2f2f2;
$medium-gray: #464646;
$snow: #f9f9f9;

//font-family
$lato: 'Lato', sans-serif;
$noto: 'Noto Sans', sans-serif;
$orbitron: 'Orbitron', sans-serif;
$yugo: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
$object-fit: 'object-fit: cover; object-position: center;';

//font-weight
$black: 900;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//screen sizes
$pc-design-width: 1366px;
$sp-design-width: 750px;
