.button {
  min-width: 250px;
  background-color: $primary;
  border-radius: 30px;
  padding: 17px 60px;
  font-family: $lato;
  font-size: 18px;
  line-height: getem(18px, 30px);
  letter-spacing: 0.1em;
  color: $white;
  text-align: center;
  transition: 0.3s ease-in;
  @include sp {
    min-width: 53%;
    font-size: getsp375(28px);
    line-height: getem(28px, 30px);
    padding: getsp375(23px) getsp375(50px);
  }

  &--about {
    @include sp {
      min-width: 100%;
      width: 100%;
    }
  }

  &--contact {
    min-width: 100% !important;
    width: 100%;
    border-radius: 0;
  }

  &:hover {
    opacity: 0.5;
  }
}