.footer {
  position: relative;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: $primary;
  @include center;
  flex-direction: column;
  padding: 180px 180px 90px;
  @include sp {
    padding: getsp375(100px) getsp375(80px) getsp375(15px);
    height: auto;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include sp {
      margin-top: getsp375(300px);
      flex-direction: column;
    }
  }

  &__logo {
    font-family: $orbitron;
    font-size: 30px;
    line-height: getem(30px, 24px);
    letter-spacing: 0.1em;
    color: $gray;
  }

  &__link-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include sp {
      width: getsp375(500px);
      flex-direction: row;
      justify-content: space-between;
      margin-top: getsp375(85px);
    }
  }

  &__text {
    font-family: $lato;
    font-weight: $bold;
    font-size: 16px;
    line-height: getem(16px, 24px);
    letter-spacing: 0.1em;
    color: $gray;
    text-align: right;
    margin-bottom: 5px;
    @include sp {
      font-size: getsp375(28px);
      line-height: getem(28px, 14px);
    }
  }

  &__copyright {
    font-size: 16px;
    line-height: getem(16px, 24px);
    text-align: center;
    letter-spacing: 0.1em;
    color: $gray;
    margin-top: 35px;
    @include sp {
      font-size: getsp375(22px);
      line-height: getem(22px, 22px);
      margin-top: getsp375(100px);
    }
  }
}