.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;

  &--fixed {
    position: fixed;
    background-color: $white;
    box-shadow: 0 6px 10px -8px $primary;
    animation: fadeIn 1s;
    @keyframes fadeIn {
      from {
        top: -100%;
      }

      to {
        top: 0;
      }
    }
    @include sp {
      transition: 0.3s ease-in;
      @keyframes fadeIn {
        from {
          top: 0;
        }
  
        to {
          top: 0;
        }
      }
    }

    .header__navbar {
      padding: 35px 82px;
      @include sp {
        padding: 0;
      }
      @include small-pc {
        padding: 35px 42px;
      }
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 82px;
    @include sp {
      padding: 0;
      align-items: flex-start;
    }
    @include small-pc {
      padding: 35px 62px;
    }

    &.active {
      transition: 0.3s ease-in;
      background-color: $white;
    }
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sp {
      position: fixed;
      top: getsp375(120px);
      right: -100%;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: 0.5s;
      opacity: 0.5;
      background-color: $white;
    }
    @include small-pc {
      margin-left: 50px;
    }

    &.active {
      right: 0;
      padding: getsp375(100px) 0;
      opacity: 1;
    }
  }
  
  &__nav-item {
    margin-right: 70px;
    @include sp {
      margin-right: 0;
      padding: getsp375(25px) getsp375(45px);
      width: 100%;

      &:hover {
        background-color: $primary;

        .header__nav-link {
          color: $white;
        }
      }
    }
    @include small-pc {
      margin-right: 40px;
    }
    
    &.contact {
      @include sp {
        width: 86.67%;
        background-color: $primary;
        color: $white;
      }
    }
  }
  
  &__nav-link {
    font-family: $lato;
    font-size: 18px;
    font-weight: $black;
    line-height: getem(18px, 22px);
    letter-spacing: 0.1em;
    @include small-pc {
      white-space: nowrap;
    }
  }
  
  &__nav-logo {
    font-family: $orbitron;
    font-size: 30px;
    line-height: getem(30px, 24px);
    letter-spacing: 0.1em;
    @include sp {
      padding: getsp375(36px) 0 0 getsp375(50px);
    }
  }

  &__bar {
    display: block;
    width: getsp375(60px);
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: $white;
  
    &:not(:last-child) {
      margin-bottom: getsp375(18px);
    }
  }
  
  &__hamburger {
    display: none;
    @include sp {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $primary;
      width: getsp375(120px);
      height: getsp375(122px);

      &.active .header__bar {
        &:nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-13px) rotate(-45deg);
        }
      }
    }
  }

  &.active {
    position: fixed;
    background-color: $white;
  }
}
