.title {
  font-family: $lato;
  font-size: 48px;
  font-weight: $black;
  // line-height: getem(48px, 72px);
  letter-spacing: 0.1em;
  margin-bottom: 35px;
  @include sp {
    font-size: getsp375(70px);
    margin-bottom: getsp375(32px);
    text-align: center;
  }

  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: $primary;
    @include sp {
      width: 26.67%;
      margin: getsp375(20px) auto 0;
    }
  }
}