.main-visual {
  position: relative;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  @include sp {
    margin-bottom: getsp375(150px);
  }

  &__container {
    @include max-width;
    @include sp {
      padding: 0;
    }
  }
  
  &__wrap {
    display: flex;
    justify-content: flex-end;
    width: getvw(740px);
    height: getvw(500px);
    position: absolute;
    top: 50%;
    left: 0;
    padding: getvw(86px);
    transform: translateY(-50%);
    background-color: $white;
    z-index: 1;
    @include sp {
      justify-content: center;
      width: 93.33%;
      height: auto;
      padding: getsp375(65px);
      top: 60%;
      background-color: rgba(255, 255, 255, 0.650);
    }
  }

  &__title {
    font-family: $lato;
    font-size: getvw(40px);
    line-height: getem(50px, 72px);
    letter-spacing: 0.1em;
    font-weight: $black;
    @include sp {
      font-size: getsp375(52px);
      line-height: getem(52px, 72px);
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: getvw(960px);
    height: getvw(768px);
    @include sp {
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: getsp375(1200px);
    }

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    font-family: $noto;
    font-size: getvw(18px);
    line-height: getem(18px, 30px);
    @include sp {
      display: none;
    }
  }

  &__button-container {
    display: block;
    margin: 80px 0;
    @include sp {
      margin: getsp375(80px) auto;
    }
  }
}