.top {
  &__about {
    margin: 0 auto 100px;
    @include center;
    @include sp {
      flex-direction: column;
      margin: 0 auto getsp375(150px);
      padding: 0 6.67%;
    }
  }

  &__about-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    @include sp {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
    @include small-pc {
      max-width: 950px;
    }
  }

  &__about-image-group {
    width: 490px;
    height: 660px;
    @include sp {
      width: 100%;
      height: auto;
      margin: getsp375(100px) 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__about-details-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 453px;
    margin-left: 62px;
    @include sp {
      width: 100%;
      margin-left: 0;
    }
  }

  &__about-details-text {
    font-size: 18px;
    line-height: getem(18px, 30px);
    @include sp {
      font-size: getsp375(32px);
      line-height: getem(32px, 46px);
      text-align: center;
    }
  }
  
  &__about-button-container {
    margin-top: 107px;
    @include sp {
      width: 100%;
      margin-top: getsp375(100px);
    }
  }

  //SERVICE
  &__service {
    margin-bottom: 100px;
    width: 100%;
    height: 650px;
    background-image: url('/img/service-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include center;
    flex-direction: column;
    @include sp {
      margin-bottom: getsp375(148px);
      padding: getsp375(160px) 6.67% getsp375(150px);
      height: 100%;
    }
  }

  &__service-title {
    font-family: $lato;
    font-weight: $black;
    font-size: 48px;
    line-height: getem(48px, 72px);
    letter-spacing: 0.1em;
    color: $white;
    @include sp {
      font-size: getsp375(70px);
      line-height: getem(70px, 116px);
    }

    &::after {
      content: '';
      display: block;
      width: 100px;
      height: 5px;
      background-color: $white;
      margin: 0 auto;
      @include sp {
        width: 26.67%;
      }
    }
  }

  &__service-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 80px;
    @include sp {
      flex-direction: column;
      justify-content: center;
      align-items: space-between;
      width: 100%;
      margin-top: getsp375(100px);
    }
    @include small-pc {
      width: 900px;
    }
  }

  &__service-line {
    width: 100%;
    @include center;
    @include sp {
      position: relative;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -100%);
      bottom: 0;
      width: 800px;
      margin: 0 auto;
      border-bottom: 3px solid $white;
      z-index: 0;
      @include sp {
        width: getsp375(4px);
        height: getsp375(600px);
        border-bottom: 0;
        border-left: 2px solid $white;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.last {
      &::after {
        display: none;
      }
    }
  }

  &__service-item {
    width: 250px;
    @include center;
    flex-direction: column;
    @include sp {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      &:not(:last-child) {
        margin-bottom: getsp375(100px);
      }
    }
  }

  &__service-group {
    @include sp {
      margin-left: getsp375(72px);
    }
  }

  &__service-logo {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: $white;
    border-radius: 50%;
    z-index: 1;
    @include center;
    @include sp {
      width: getsp375(280px);
      height: getsp375(280px);

      &:not(:nth-last-child(3)) {
        margin-bottom: getsp375(100px);
      }
    }

    img {
      width: 40%;
      object-fit: cover;
      object-position: center;
      @include sp {
        width: 45%;
      }
    }
  }

  &__service-item-title {
    font-family: $lato;
    font-size: 24px;
    font-weight: $bold;
    line-height: (24px, 30px);
    letter-spacing: 0.1em;
    color: $white;
    margin: 30px auto;
    text-align: center;
    @include sp {
      font-size: getsp375(32px);
      line-height: (32px, 32px);
      margin: getsp375(30px) auto;
      text-align: left;
    }
  }

  &__service-item-text {
    font-size: 18px;
    line-height: getem(18px, 30px);
    color: $white;
    text-align: center;
    @include sp {
      font-family: getsp375(28px);
      line-height: getem(28px, 40px);
      text-align: left;
    }
  }

  //BLOG
  &__blog {
    max-width: 1000px;
    margin: 106px auto;
    @include sp {
      max-width: 100%;
      margin: getsp375(150px) auto;
      padding: 0 6.67%;
    }
     @include small-pc {
      width: 950px;
    }
  }

  &__blog-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    @include sp {
      justify-content: center;
      max-width: 100%;
    }
  }

  &__blog-item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    @include sp {
      margin-top: getsp375(100px);
      flex-direction: column;
    }
  }

  &__blog-item {
    width: 30.2%;
    @include sp {
      width: 100%;
    }
    @include small-pc {
      width: 29.2%;
    }

    &:not(:last-child) {
      margin-right: 46px;
      @include sp {
        margin-right: 0;
      }
    }

    &:hover {
      .top__blog-image img {
        transition: 0.5s ease-in;
        transform: scale(1.1);
      }
    }
  }

  &__blog-image {
    width: 300px;
    height: 250px;
    overflow: hidden;
    @include sp {
      width: 100%;
      height: getsp375(435px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__blog-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto 22px;
    @include sp {
      justify-content: flex-start;
      margin: getsp375(30px) auto getsp375(40px);
    }
  }

  &__blog-date {
    font-size: 16px;
    line-height: getem(16px, 14px);
    letter-spacing: 0.1em;
    @include sp {
      font-size: getsp375(28px);
      line-height: getem(28px, 28px);
      margin-right: getsp375(50px);
    }
  }

  &__blog-cat {
    min-width: 100px;
    height: 20px;
    border-radius: 15px;
    background-color: $primary;
    @include center;
    @include sp {
      min-width: getsp375(150px);
      height: getsp375(30px);
    }

    p {
      font-family: $lato;
      font-size: 14px;
      font-weight: $bold;
      letter-spacing: 0.1em;
      color: $white;
      @include sp {
        font-size: getsp375(26px);
      }
    }
  }

  &__blog-item-title {
    display: inline;
    font-family: $lato;
    font-size: 23px;
    line-height: getem(23px, 36px);
    font-weight: $bold;
    letter-spacing: 0.1em;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    @include sp {
      font-size: getsp(48px);
      line-height: getem(48px, 56px);
    }
  }

  &__blog-button-container {
    @include sp {
      width: 100%;
      margin: getsp375(200px) 0 0;
    }
  }

  //CONTACT
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-gray;
    padding: 100px 100px 0;
    height: 560px;
    @include sp {
      padding: getsp375(150px) 6.67%;
      height: getsp375(1400px);
    }
  }

  &__contact-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    z-index: 5;
    @include sp {
      flex-direction: column;
      width: 100%;
      padding: 0 6.67%;
    }
    @include small-pc {
      width: 950px;
    }
  }

  &__contact-text {
    font-size: 18px;
    line-height: getem(18px, 30px);
    @include sp {
      font-size: getsp375(32px);
      line-height: getem(32px, 46px);
    }
  }

  &__contact-wrap {
    width: 440px;
    @include sp {
      width: 100%;
    }
  }

  &__contact-detail-container {
    margin: 40px 0 0;
    @include sp {
      margin: getsp375(80px) 0 getsp375(105px);
    }
  }

  &__contact-detail {
    a {
      display: flex;
      align-items: center;
    }
    
    &:not(:last-child) {
      margin-bottom: 24px;
      @include sp {
        margin-bottom: getsp375(30px);
      }
    }
  }

  &__contact-logo {
    width: 30px;
    margin-right: 15px;
    @include sp {
      width: getsp375(50px);
      margin-right: getsp375(30px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__contact-detail-text {
    font-size: 16px;
    line-height: getem(16px, 24px);
    @include sp {
      font-size: getsp375(28px);
      line-height: getem(28px, 28px);
    }
  }

  &__contact-form {
    position: relative;
    width: 450px;
    height: 510px;
    background-color: $white;
    padding: 25px;
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 20px 0;
    @include sp {
      width: 100%;
      height: auto;
      padding: getsp375(45px);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 450px;
      height: 480px;
      background-color: $white;
      z-index: -1;
      @include sp {
        width: 100%;
        height: auto;
      }
      @include small-pc {
        width: 430px;
      }
    }
  }

  &__contact-textbox {
    width: 100%;
    height: 50px;
    padding: 20px;
    border: 1px solid $gray;
    font-size: 16px;
    line-height: getem(16px, 22px);
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    @include sp {
      height: getsp375(75px);
      padding: getsp375(25px);
      font-size: getsp375(26px);
      line-height: getem(26px, 26px);
      margin-bottom: getsp375(40px);
    }

    &--big {
      height: 100px;
      resize: none;
      @include sp {
        height: getsp375(150px);
      }
    }

    ::-webkit-input-placeholder {
      color: $gray;
    }

    ::-moz-placeholder {
      color: $gray;
    }

    :-ms-input-placeholder {
      color: $gray;
    }
  }

  &__contact-radio-wrap {
    display: flex;
  }

  &__contact-radio {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius:50%;
    @include sp {
      margin-bottom: getsp375(40px);
    }

    &:not(:last-child) {
      margin-right: 46px;
      @include sp {
        margin-right: getsp375(60px);
      }
    }

    input[type="radio"] {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $gray;
      -webkit-appearance: none;
      @include sp {
        width: getsp375(30px);
        height: getsp375(30px);
      }

      &:checked {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $gray;
        @include center;
        @include sp {
          width: getsp375(30px);
          height: getsp375(30px);
        }

        &::before {
          content: '';
          background-color: $gray;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          @include sp {
            width: getsp375(20px);
            height: getsp375(20px);
          }
        }
      }
    }

    label {
      margin-left: 10px;
      @include sp {
        margin-left: getsp375(20px);
      }
    }
  }

  &__contact-radio-text {
    font-size: 16px;
    line-height: getem(16px, 22px);
    letter-spacing: 0.1em;
    @include sp {
      font-size: getsp375(26px);
      line-height: getem(26px, 22px);
    }
  }

  &__contact-agreement {
    position: relative;
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      line-height: getem(16px, 24px);
      @include sp {
        font-size: getsp375(24px);
        line-height: getem(24px, 14px);
      }
    }

    input[type="checkbox"] {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      margin: -.5rem;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    input[type="checkbox"] + span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border: 1px solid $gray;
      margin-right: 10px;
      @include sp {
        min-width: getsp375(30px);
        min-height: getsp375(30px);
        width: getsp375(30px);
        height: getsp375(30px);
        margin-right: getsp375(20px);
      }
    }

    input[type="checkbox"]:checked + span {
      position: relative;
      
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 5px;
        height: 12px;
        border: solid #000;
        border-width: 0 1.5px 1.5px 0;
        @include sp {
          width: 3px;
          height: 7px;
        }
      }
    }
  }

  &__contact-button-container {
    width: 100%;
    margin-top: 45px;
    @include sp {
      margin-top: getsp375(50px);
    }
  }
}