.white {
  color: $white;
}

.white-bg {
  background: $white;
}

.black {
  color: $black;
}

.black-bg {
  background: $black;
}

.primary {
  color: $primary;
}

.primary-bg {
  background: $primary;
}

.overflow {
  overflow: hidden;
}

.pc {
  display: block;
  @include sp {
    display: none;
  }
}

.sp {
  display: none;
  @include sp {
    display: block;
  }
}