.js-slider {
  &::after {
    content: '';
    display: none;
    @include sp {
      content: 'flickity';
    }
  }

  .flickity-prev-next-button {
    background: url('/img/slider-arrow.png') no-repeat center !important;
    background-size: contain !important;
    top: auto;
    bottom: getsp375(-120px);
    transition: all 0.3s ease;
    border-radius: getvw(4px);
    transform: translateY(0);
    width: getsp375(50px);
    z-index: 3;
  }
  
  .flickity-prev-next-button.next {
    transform: scaleX(-1) !important;
  }

  .flickity-button-icon {
    display: none !important;
  }
  

  // Page Dots
  .flickity-page-dots {
    bottom: getsp375(-90px);
  }

  .flickity-page-dots .dot {
    width: getsp375(20px);
    height: getsp375(20px);
    opacity: 1;
    background: $primary;
  }

  .flickity-page-dots .dot.is-selected {
    background: $medium-gray;
  }
}