extends includes/layout.pug
block content
  section.main-visual
    .main-visual__container
      .main-visual__wrap
        .main-visual__content
          h4.main-visual__title Making Your Business 
            br
            | Ideas Come True
          p.main-visual__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam .erat volutpat.
          .main-visual__button-container
            a(href="#").button CONNECT WITH US
    .main-visual__image
      img(src="/img/mv-image.jpg" alt="main visual")
  section.top__about
    .top__about-container
      .title.sp About Us
      .top__about-image-group
        img(src="/img/about-img.png" alt="about image")
      .top__about-details-group
        .title.pc About Us
        .top__about-details-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat lobortis nisl ut aliquip ex ea commodo consequat. 
        .top__about-button-container 
          a(href="#")
            .button.button--about VIEW MORE
  
  section.top__service
    .top__service-title Our Service
    .top__service-wrap
      .top__service-item
        .top__service-line
          .top__service-logo
            img(src="/img/service-logo-1.png" alt="Branding logo")
        .top__service-group
          h1.top__service-item-title BRANDING
          p.top__service-item-text Lorem ipsum dolor sit amet, consectetuer adipiiscing elit, sed diam nonummy nibh 
      .top__service-item
        .top__service-line
          .top__service-logo
            img(src="/img/service-logo-2.png" alt="Marketing logo")
        .top__service-group
          h1.top__service-item-title MARKETING
          p.top__service-item-text Lorem ipsum dolor sit amet, consectetuer adipiiscing elit, sed diam nonummy nibh 
      .top__service-item
        .top__service-line.last
          .top__service-logo
            img(src="/img/service-logo-3.png" alt="Financial logo")
        .top__service-group
          h1.top__service-item-title FINANCIAL
          p.top__service-item-text Lorem ipsum dolor sit amet, consectetuer adipiiscing elit, sed diam nonummy nibh 
  
  section.top__blog
    .top__blog-title-container
      h1.title Latest Blog
      a(href="#").button.pc VIEW MORE
    .top__blog-item-container.js-slider
      a(href="#").top__blog-item
        .top__blog-image
          img(src="/img/top-blog-item.png" alt="Blog Item 1")
        .top__blog-date-container 
          p.top__blog-date 09.14.21 
          .top__blog-cat 
            p BLOG
        h1.top__blog-item-title SAMPLE TITLE SAMPLE TITLE SAMPLE TITLE SAMPLE TITLE
      a(href="#").top__blog-item
        .top__blog-image
          img(src="/img/top-blog-item.png" alt="Blog Item 2")
        .top__blog-date-container 
          p.top__blog-date 09.14.21 
          .top__blog-cat 
            p BLOG
        h1.top__blog-item-title SAMPLE TITLE SAMPLE TITLE SAMPLE TITLE SAMPLE TITLE
      a(href="#").top__blog-item
        .top__blog-image
          img(src="/img/top-blog-item.png" alt="Blog Item 3")
        .top__blog-date-container 
          p.top__blog-date 09.14.21 
          .top__blog-cat 
            p BLOG
        h1.top__blog-item-title SAMPLE TITLE SAMPLE TITLE SAMPLE TITLE SAMPLE TITLE
    .top__blog-button-container.sp
      a(href="#")
        .button VIEW MORE
  section.top__contact
    .top__contact-container
      .top__contact-wrap
        h1.title Get in Touch
        p.top__contact-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .top__contact-detail-container 
          .top__contact-detail
            a(href="mailto: sampleemail@gmail.com")
              img.top__contact-logo(src="/img/contact-mail.png" alt="mail logo")
              p.top__contact-detail-text sampleemail@gmail.com 
          .top__contact-detail
            a(href="tel: 0993-8475-678")
              img.top__contact-logo(src="/img/contact-mobile.png" alt="telephone logo")
              p.top__contact-detail-text 0993-8475-678 
          .top__contact-detail
            a(href="https://goo.gl/maps/MafmYyZMPsaR6GBP7")
              img.top__contact-logo(src="/img/contact-location.png" alt="map logo")
              p.top__contact-detail-text Sen Gil Puyat cor Makati Ave., Makati City
      .top__contact-form
        input.top__contact-textbox(type="text" placeholder="Full Name")
        .top__contact-radio-wrap
          .top__contact-radio
            input#student(type="radio", name="")
            label.top__contact-radio-text(for="student") Student 
          .top__contact-radio
            input#employee(type="radio", name="")
            label.top__contact-radio-text(for="employee") Employee 
        input.top__contact-textbox(type="email" placeholder="Email Address")
        textarea.top__contact-textbox.top__contact-textbox--big#message(name="message", cols="30", rows="10" placeholder="Message")
        label.top__contact-agreement(for="#agreement") 
          input(type='checkbox')
          span 
          p I agree to the terms and conditions.
        .top__contact-button-container 
          a(href="#")
            .button.button--contact SEND
